/* global defaults */

* {
	box-sizing: border-box;
}

/* desktop work area */

html {
	height: 100vh;
	width: 100vw;
}

body {
	background: #ffffff;
	height: 100vh;
	width: 100vw;
}

/* various utilities */

.AnimateOpacity { transition: opacity 200ms ease-in-out; }

.ScaleNormal { transform: scale(1.0); }
.ScaleZero { transform: scale(0.0); }
.OpacityHalf { opacity: 0.5; }