.Desktop .Icon  {
	width: 64px;
	margin: 10px;
}

.Desktop .Icon .Label {
	color: #000000;
	font-size: 0.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	width: 100%;
	white-space: nowrap;
}

.Desktop .Icon .Img {
	background-color: #ddd;
	border-radius: 5px;
	height: 64px;
}

.Desktop .Icon:hover {
	transform: scale(1.1);
}
